@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

body,h1,h2,h3,h4,h5,h6{
font-family: "Pretendard", "Noto Sans KR", "Nanum Gothic", sans-serif !important;
line-height: 1.44;
}

a:link{
 color: #BB0011;
 text-decoration: none;
}
a:active{
 color: #BBBBBB;
 text-decoration: none;
}
a:visited{
 color: #777777;
 text-decoration: none;
}
a:hover{
 color: #AAAAAA;
 text-decoration: none;
}

abbr{cursor: help;}

#legal{font-size: 0.75em;}

#menulinks{
 font-size: 0.875em;
 text-align: center;
}

#mainbody{
 width: 96%;
 background-color: #f6f6f6;
 margin: auto;
}

#containerbody{
 padding: 1em 2em;
 overflow: auto;
 background-color: #ffffff;
}

.services_list, .countries_list, .contacts_list, .info_list{
 list-style-position: outside;
 text-align: initial !important;
 margin-left: 0.75em;
 padding-left: 0.75em;
}

table,tr,th,td{
 border: #000000 solid 1px;
 border-collapse: collapse;
}
th,td{
 padding-left: 1em;
 padding-right: 1em;
}

.tb_item{background-color: #f5f8fa;}

.private_services{color: #ff0000;}